body {
    background-color:azure;
    font-family: 'Courier New', Courier, monospace;
    width: 700px;
    margin: 3vw auto;
    }

img {
    display: block;
    width: 25em;
    margin: auto;
}    

h1 {
    text-align: center;
}
li {
    margin-bottom: 10px;
}

