* {
    background-color:azure;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 25em;
}    

li {
    margin-bottom: 10px;
}

.recipe-wrap {
    margin-top: 5vw;
    width: 50vw;
    margin-left: 10vw;
    /* outline: solid 1px red; */
   }

@media (max-width: 1000px) {
    .recipe-wrap {
        width: 83vw;
        margin-left: 7vw;
    }

    img {
        width: 83vw;
    }
}